-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: nutriverse
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `classes`
--

LOCK TABLES `classes` WRITE;
/*!40000 ALTER TABLE `classes` DISABLE KEYS */;
/*!40000 ALTER TABLE `classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `ingredients`
--

LOCK TABLES `ingredients` WRITE;
/*!40000 ALTER TABLE `ingredients` DISABLE KEYS */;
/*!40000 ALTER TABLE `ingredients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `class_ingredients`
--

LOCK TABLES `class_ingredients` WRITE;
/*!40000 ALTER TABLE `class_ingredients` DISABLE KEYS */;
/*!40000 ALTER TABLE `class_ingredients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `class_steps`
--

LOCK TABLES `class_steps` WRITE;
/*!40000 ALTER TABLE `class_steps` DISABLE KEYS */;
/*!40000 ALTER TABLE `class_steps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `class_categories`
--

LOCK TABLES `class_categories` WRITE;
/*!40000 ALTER TABLE `class_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `class_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `allergens`
--

LOCK TABLES `allergens` WRITE;
/*!40000 ALTER TABLE `allergens` DISABLE KEYS */;
INSERT INTO `allergens` VALUES (3,'Dairy'),(4,'Egg'),(8,'Fish'),(5,'Gluten'),(1,'Peanuts'),(9,'Sesame'),(7,'Shellfish'),(6,'Soy'),(2,'Tree Nuts');
/*!40000 ALTER TABLE `allergens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `class_allergens`
--

LOCK TABLES `class_allergens` WRITE;
/*!40000 ALTER TABLE `class_allergens` DISABLE KEYS */;
INSERT INTO `class_allergens` VALUES (8,1),(15,1),(39,1),(5,2),(31,2),(38,2),(3,3),(5,3),(9,3),(17,3),(21,3),(25,3),(26,3),(27,3),(28,3),(29,3),(30,3),(31,3),(35,3),(37,3),(38,3),(39,3),(40,3),(54,3),(55,3),(19,4),(14,5),(16,5),(17,5),(18,5),(21,5),(18,6),(19,6),(23,7),(42,7),(43,7),(22,8),(41,8),(44,8);
/*!40000 ALTER TABLE `class_allergens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `cuisines`
--

LOCK TABLES `cuisines` WRITE;
/*!40000 ALTER TABLE `cuisines` DISABLE KEYS */;
INSERT INTO `cuisines` VALUES (1,'Indian'),(4,'Indo-Chinese'),(3,'North Indian'),(2,'South Indian');
/*!40000 ALTER TABLE `cuisines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `class_cuisines`
--

LOCK TABLES `class_cuisines` WRITE;
/*!40000 ALTER TABLE `class_cuisines` DISABLE KEYS */;
INSERT INTO `class_cuisines` VALUES (4,1),(10,1),(15,1),(17,1),(20,1),(21,1),(22,1),(23,1),(6,2),(7,2),(8,2),(9,2),(11,2),(14,2),(5,3),(12,3),(13,3),(16,3),(18,4),(19,4);
/*!40000 ALTER TABLE `class_cuisines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `moods`
--

LOCK TABLES `moods` WRITE;
/*!40000 ALTER TABLE `moods` DISABLE KEYS */;
/*!40000 ALTER TABLE `moods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `class_moods`
--

LOCK TABLES `class_moods` WRITE;
/*!40000 ALTER TABLE `class_moods` DISABLE KEYS */;
/*!40000 ALTER TABLE `class_moods` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-04  0:22:46
